.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
.env
.env.*
Dockerfile
compose.yaml
compose.stage.yaml
README.md
bootstrap/cache/*.php
docker/*.tar
docker/*.tar.gz
*.tar
*.tar.gz
*.sql
*.sql~
*.bak
